# The environment Craft is currently running in (dev, staging, production, etc.)
ENVIRONMENT=dev

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID=

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=

# The database driver that will be used (mysql or pgsql)
DB_DRIVER=mysql

# The database server name or IP address
DB_SERVER=127.0.0.1

# The port to connect to the database with
DB_PORT=3306

# The name of the database to select
DB_DATABASE=

# The database username to connect with
DB_USER=root

# The database password to connect with
DB_PASSWORD=

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA=

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=

# Site settings
SITE_EMAIL=""
SITE_URL="http://top100attractions.test"
SITE_ADMIN_URL="http://top100attractions.test/admin"
SITE_NAME="Top 100"

# Keys for Google Maps and Tag Manager
MAPS_API=""
MAPS_API_2 = ""
MAP_ID=""
GTM=""

# Api Keys
SENDGRID_API=""

# Captcha
RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

# Disable simple maps populate missing data, It is important it is set to true unless importing data
DISABLE_MAP_POPULATE_MISSING_DATA=true

# Image Resize - Always attempt to compress images
IMAGE_RESIZE_FORCE_COMPRESSION=true

# S3 settings
S3_KEY_ID=
S3_SECRET=
S3_BUCKET=
S3_REGION=eu-west-2

# CloudFront settings
CLOUDFRONT_URL=
CLOUDFRONT_DISTRIBUTION_ID=
CLOUDFRONT_PATH_PREFIX=

# App Redirects
APP_IMAGE_SMALL_PATH='/attractions/images/135x135/'
APP_IMAGE_SMALL_REDIRECT_PATH='/attractions/images/'

APP_IMAGE_LARGE_PATH='/attractions/images/600x600/'
APP_IMAGE_LARGE_LARGE_PATH='/attractions/images/'
