/*----------------------------------------
    # Media Queries
----------------------------------------*/
$breakpoints: (
        ultra-large:2100px,
        extra-large:1500px,
        large:1300px,
        medium-large:1100px,
        medium:1000px,
        large-tablet:920px,
        medium-tablet:830px,
        tablet:767px,
        phablet:575px,
        mobile:480px,
        small-mobile:375px,
);
