{% if craft.embeddedAssets.get(media) != null %}
    {% set vid = craft.embeddedAssets.get(media) %}
    {% set url = vid.getVideoUrl(['autoplay=1', 'controls=0', 'mute=1', 'playsinline=1', 'loop=1']) %}
    {% set providerName = vid.providerName %}
{% endif %}
<div class="video">
    <iframe id="iframe"
            src="{{ url }}"
            allowtransparency
            allow="autoplay"
            title="{{ providerName }}"
            width="100%"
            height="800px"
    ></iframe>
</div>
