@use "../_utilities/_mixins/media-query" as *;

*:focus:not(.focus-visible) {
  // outline-offset: 0.4rem;
  outline: inherit auto 4px;
}

* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
section,
footer,
form,
ul,
article,
.grid-row,
iframe,
canvas,
video,
input,
textarea,
select,
button,
address,
li,
p,
a,
svg,
hr {
  max-width: none;
}

img,
figure {
  max-width: 100%;
  position: relative;
}
figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--s-1) var(--s1);
  background: var(--secondary-main);
  color: var(--secondary-invert);
}

//max-width:measure
.max-width\:measure {
  max-width: var(--measure);
}

//max-width:measure/2
.max-width\:measure\/2 {
  max-width: calc(var(--measure) / 2);
}

//max-width:measure*1/5
.max-width\:measure\*1\/5 {
  max-width: calc(var(--measure) * 1.5) !important;
}

//max-width:measure*2
.max-width\:measure\*2 {
  max-width: calc(var(--measure) * 2) !important;
}

.align-center {
  *:not(figure) {
    margin-left: auto;
    margin-right: auto;
  }
}

//No top margin on any items or if they have children that might have margin
main {
  article {
    & > {
      section {
        margin-left: auto;
        margin-right: auto;
      }

      *:nth-child(1) {
        &[class*="bg"] {
          margin-top: 0 !important;
        }

        & > .grid-row:nth-child(1) {
          margin-top: 0 !important;
        }
      }
    }

    #hero {
      + section {
        &[class*="bg"] {
          margin-top: 0 !important;
        }
      }
    }
  }
}

.object-cover {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}

@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

//padding-top: 56.25%; /* 16:9 aspect ratio */
//padding-top: 75%; /* 4:3 aspect ratio */
//padding-top: 66.66%; /* 3:2 aspect ratio */
//padding-top: 62.5%; /* 8:5 aspect ratio */
//padding-top: 100%; /* 1:1 aspect ratio */
.stretch.centreCentre {
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.stretch {
  display: flex;
  justify-self: stretch;
  align-self: stretch;
  flex-direction: column;
  img {
    display: inherit;
    align-self: stretch;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.topLeft {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  flex-direction: column;
}

.topRight {
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  flex-direction: column;
}

.topCentre {
  display: flex;
  justify-self: center;
  align-self: flex-start;
  flex-direction: column;
}

.centreLeft {
  display: flex;
  justify-self: flex-start;
  align-self: center;
  flex-direction: column;
}

.centreCentre {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
}

.centreRight {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  flex-direction: column;
}

.bottomLeft {
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  flex-direction: column;
}

.bottomCentre {
  display: flex;
  justify-self: center;
  align-self: flex-end;
  flex-direction: column;
}

.bottomRight {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  flex-direction: column;
}

@include mq(mobile) {
  .stretchMobile.centreCentreMobile {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .stretchMobile {
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    flex-direction: column;
    img {
      display: inherit;
      align-self: stretch;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .topLeftMobile {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    flex-direction: column;
  }

  .topRightMobile {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    flex-direction: column;
  }

  .topCentreMobile {
    display: flex;
    justify-self: center;
    align-self: flex-start;
    flex-direction: column;
    text-align: center;
  }

  .centreLeftMobile {
    display: flex;
    justify-self: flex-start;
    align-self: center;
    flex-direction: column;
  }

  .centreCentreMobile {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
  }

  .centreRightMobile {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    flex-direction: column;
  }

  .bottomLeftMobile {
    display: flex;
    justify-self: flex-start;
    align-self: flex-end;
    flex-direction: column;
  }

  .bottomCentreMobile {
    display: flex;
    justify-self: center;
    align-self: flex-end;
    flex-direction: column;
    text-align: center;
  }

  .bottomRightMobile {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    flex-direction: column;
  }
}

.gridRow {
  .textBlock {
    width: 100%;
    .stack {
      width: 100%;
    }

    @include mq(tablet) {
      &.mobileOne {
        grid-row-start: 1 !important;
      }
      &.mobileTwo {
        grid-row-start: 2 !important;
      }
      &.mobileThree {
        grid-row-start: 3 !important;
      }
      &.mobileFour {
        grid-row-start: 4 !important;
      }
      &.mobileFive {
        grid-row-start: 5 !important;
      }
      &.mobileLast {
        grid-row-start: end !important;
      }
    }
  }
}

.overlay {
  &.static,
  &.grid-row {
    &:after {
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &.slides {
    .slick-slide:after {
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  @for $i from 1 through 9 {
    &.o-0#{$i} {
      &:after,
      .slick-slide:after {
        opacity: unquote("0.") +#{$i};
      }
    }
  }

  &.multiply {
    &:after,
    .slick-slide:after {
      mix-blend-mode: multiply;
      z-index: 1;
    }
  }
}

.imageBlock,
.testimonialsBlock,
.textBlock,
.embed {
  @include mq(tablet) {
    .pad-top-500,
    .pad-top-600,
    .pad-top-700 {
      padding-top: var(--s4);
    }
    .pad-bottom-500,
    .pad-bottom-600,
    .pad-bottom-700 {
      padding-bottom: var(--s4);
    }
    .pad-left-500,
    .pad-left-600,
    .pad-left-700 {
      padding-left: var(--s4);
    }
    .pad-right-500,
    .pad-right-600,
    .pad-right-700 {
      padding-right: var(--s4);
    }
  }
}
.grecaptcha-badge {
  z-index: 50;
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-gt-tt, #goog-gt-tt {
  display: none !important;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

body {
  top: 0px !important;
}
