@use '../_utilities/_mixins/media-query' as *;
@use '../_components/buttons' as *;

#cookie-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: var(--s1);
  &.accept {
    display: none;
  }
}

.highlight {
  background: rgba(255, 215, 0, 0.11);
}

button#ihavecookiesBtn {
  margin-left: 0 !important;
}

/* Cookie Dialog */
#gdpr-cookie-message {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 80vw;
  grid-row-gap: 1rem;
  column-gap: var(--s2);
  row-gap: var(--s-4);
  align-items: center;
  max-width: 500px;
  background: var(--secondary-main);
  color: var(--secondary-invert);
  bottom: 0;
  margin: 0;
  right: 0;
  z-index: 9999;
  padding: var(--s2);
  border-radius: var(--image-border-radius);
  text-align: center;
  *:not(button) {
    color: var(--secondary-invert);
  }

  h4 {
    //font-size: clamp(var(--f1), 5vw, var(--f3));
    font-size:var(--f3);
    padding: var(--f1) 0;
    margin: 0;

  }

  p {
    margin-bottom: 0;

    &:nth-child(2) {
    }

    &:nth-child(4) {
      display: inline-block;
      margin: var(--s1) auto var(--s-4);

      button {
        @extend .button;
        @extend .primary;
        //background-color: var(--primary-highlight);
        //color: var(--light-main);
        font-family: var(--body-font);
        @include mq(tablet) {
          width: 100%;
        }
        &#gdpr-cookie-accept {
          float: right;
          margin-left: var(--s1);
        }

        &#gdpr-cookie-advanced {

        }
      }

      @include mq(tablet) {
        justify-content: space-between;
        flex-wrap: wrap;
        display: flex;
        //gap: var(--s2);
        margin: var(--s1) 0 var(--s-4);
        width: 100%;
        button {
          &#gdpr-cookie-accept {
            margin-left: 0;
          }

          &#gdpr-cookie-advanced {
            @include mq(large-tablet) {
              margin-left: 0;
            }
          }
          @include mq(large-tablet) {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }

  #gdpr-cookie-types {
    grid-column: 1;
    margin-top: var(--s1);

    h5 {
      margin-bottom: var(--s-1);
      font-size: clamp(var(--f0), 3vw, var(--f2))
    }

    ul {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding:0; 
      @include mq(large-tablet) {
        width: 100%;

      }
      li {
        display: inline-block;
        align-items: center;
        justify-content: start;
        margin: 5px 10px;
        white-space:nowrap;
        text-overflow:ellipsis;

        &:nth-child(1) {
          margin-left: 0;
        }

        input {
          width:auto;
        }

        label {
          margin-left: var(--s-4);
          font-family: var(--body-font);
          font-size: var(--f0); 
        }
      }
    }
  }


  li {
    list-style: none;
  }

  li:last-child {
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    background-color: var(--tertiary-main);

    &:checked {
      background-color: var(--tertiary-main);
    }

  }

  label {

  }

  code {

  }
}

#gdpr-cookie-message h4 {

}

#gdpr-cookie-message h5 {

}

#gdpr-cookie-message p, #gdpr-cookie-message ul {

}

#gdpr-cookie-message p:last-child {

}

#gdpr-cookie-message li {

}

#gdpr-cookie-message a {

}

#gdpr-cookie-message a:hover {

}

#gdpr-cookie-message button,
button#ihavecookiesBtn {

}

#gdpr-cookie-message button:hover {

}


#gdpr-cookie-message button:disabled {

}

#gdpr-cookie-message input[type="checkbox"] {

}

#gdpr-cookie-types {

}
