@use "../_utilities/_mixins/media-query" as *;

@include mq(tablet) {
  .gridRow {
    .imageBlock {
      max-height: 500px;
    }
  }
}

// Scale images on hover
a:not(.logo) {
  figure img {
    transform: scale(1);
    transition: all 1.5s ease-in-out;
  }

  &:hover,
  &:focus {
    figure img {
      transform: scale(var(--hover-scale));
    }
  }
}

figure {
  border-radius: var(--image-border-radius);
  overflow: hidden;
}

img {
  border-radius: var(--image-border-radius);
}

.graphic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.gallery-item {
  img {
    cursor: zoom-in;
  }
}
