@use '../../_utilities/_mixins/media-query' as *;

.spacer{
  &.col-1{
    grid-column: span 1;
  }
  &.col-2{
    grid-column: span 2;
  }
  &.col-3{
    grid-column: span 3;
  }
  &.col-4{
    grid-column: span 4;
  }
  &.col-5{
    grid-column: span 5;
  }
  @include mq(phablet) {
    display: none;
  }
}
